@import '../../../variables';

.swamp-container {
    min-height: 50vh;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    // h2 {
    //     padding-top: 1.5rem;
    //     text-align: center;
    //     font-size: 2.5rem;
    //     color: $dark-opaque;
    //     text-shadow: 2px 2px 2px #232323;
    // }  
}

.swamp-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.swamp-text {
    max-width: 400px;
    // width: 500px;
    // margin-left: 1.5rem;
    // margin-bottom: 1rem;
    margin: 0 1rem 2rem 1rem;
}

.swamp-img {
    width: 500px;
    margin: 0 1rem 1rem 1rem;

    img {
        max-width: 500px;
    }
    // display: flex;
    // justify-content: center;
    // width: 80vw;
    // margin: 0 auto;
    // overflow-x: hidden; 
}

// #hero-btn {
//     position: absolute;
//     margin-top: 40rem;
//     text-align: center;
// }

// .ams-img-container {
//     width: 80vw;
//     margin: 0 auto;
//     overflow-x: hidden;

//     img {
//         width: 80vw;
//     }
// }

// .ams-text-container {
//     width: 80vw;
//     margin: 0 auto;
// }
// }
