@import '../../variables';

.teampage-container {
    min-height: 100vh;
    // width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // border: 2px solid red;
    // justify-content: center;
    // flex-wrap: wrap;

    .card-container {
        display: flex;
        width: 100vw;
        padding: 0 5rem;
        // justify-content: space-between;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .team-card {
        // height: rem;
        // display: flex;
        // justify
        display: flex;
        flex-direction: column;
        // margin: 1rem;
        padding: 1rem;
        width: 18rem;
        // margin-right: 0.5rem;
        // margin-left: 0.5rem;
        // margin: 0 auto;
        margin-bottom: 2rem;
        // align-items: center;
        // justify-content: center;
        // border: 2px solid gray;
    }

    .card-img {
        display: flex;
        justify-content: center;

        img {
            // border-radius: 10px;
            width: 18rem;
            border-radius: 50%;
            // width: 20rem;
        }
    }

    .card-text {
        h3 {
            text-align: center;
        }
    }

}

.team-card:nth-child(2) {
    background: $light-green;
}

.team-card:nth-child(1) {
    box-shadow: 2px 8px 2px lightgray;
}

.team-card:nth-child(3) {
    box-shadow: 2px 8px 2px lightgray;
}