.about-container {
    max-width: 100vw;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-x: hidden;

    .video-container {
        max-width: 800px;
    }

    .item-text {
        padding: 2.5rem;
    }
    
    .item-img {
        margin-top: 2rem;
    }
}

.transition-img {
    opacity: 1;
    display: block;
    height: 170px;
    // width: 100%;
    // height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  #pictures {
      display: flex;
    //   padding: 0 2rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
          margin: 0 auto;
      }
    //   margin: 0 auto;
    //   max-width: 100vw;
  }

  .transition {
    transition: .5s ease;
    opacity: 0;
    width: 100%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .transition_img-container:hover .transition-img {
    opacity: 0.3;
  }
  
  .transition_img-container:hover .transition {
    opacity: 1;
  }
  
  .transition-text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .green {
      background-color: lightgreen;
    //   width: 100vw;
    //   padding: 2rem;
  }