@import '../../../variables';

.hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: -10vh;
}

.hero-container:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.hero-container:before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateZ(0) scale(1.0, 1.0);
    -o-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
    background-image: url('./background.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: -2;
}

.text-container {
    width: 60%;
    // margin: 30% 10% 25% 10%;
    margin: 30% 10% 25% 10%;
    text-align: center;
    color: #fff;

    .text {
        padding: 10px 5px;
        background-color: rgba(0, 0, 0, 0.25);
    }
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
        text-shadow: 2px 2px #232323;
    }

    h3 {
        font-size: 1.5rem;
        text-shadow: 2px 2px #232323;
    }
}

.hero-btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    // padding-right: 5rem;

    #hero-btn {
        color: whitesmoke;
        text-decoration: none;
    }

    #hero-btn:hover {
        color: #232323;
    }
}

@keyframes increase {
    0% {transform: scale(1)}
    100% {transform: scale(1.5)}
}