@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
}

html {
  overflow-x: hidden;
}